<ul>
  <li><a href="http://www....">Home</a></li>
  <li><a href="http://www..../faq">Questions</a></li>
  <li><a href="http://www..../news">News</a></li>
  <li><a href="http://www..../contact">Contact</a></li>
</ul>